<html>
  <head>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Picture Gallery</h1>
    </div>
    <div id="pictures" class="text-center container">
      <% @pics.keys.sort.each do |k| %>
      <%= link_to image_tag(k), @pics[k] %>
      <% end %>
    </div>
  </body>
</html>
